@model Task<IEnumerable<Entidad.Categoria>>;
@{
    ViewData["Title"] = "Gestion Categorias";
}


<div class="card mb-5 justify-content-center text-dark rounded shadow-lg">
    <div class="card-header py-0 d-flex justify-content-between align-items-center">
        <h4 class="weight-600 m-0">
            <i class="fa-solid fa-list"></i> Lista de Categorias
        </h4>
        <div class="m-3">
            <button asp-area="Mantenimiento" asp-controller="Categorias" asp-action="Create" class="btn btn-blue ml-3" data-toggle="modal" data-target="#modal_create_categoria" onclick="Create()">
                <i class="fa-solid fa-layer-group"></i> Crear Categoria
            </button>
        </div>
    </div>
    <div class="card-body justify-content-center">
        <div class="table-responsive">
            <table id="tbl" class="display lg-0 p-1 table-bordered table-hover py-3 w-100 table rounded">
                <thead>
                    <tr class="p-3 mb-5 rounded shadow-sm">
                        <th class="text-left" width="10%">ID</th>
                        <th class="text-left" width="10%">Imagen</th>
                        <th class="text-left">Descripcion</th>
                        <th class="text-center" width="15%">Activo</th>
                        <th class="text-left" width="15%">Fecha Registro</th>
                        <th class="text-center" width="15%">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in await Model)
                    {
                        if (item != null)
                        {
                            <tr id="category_@item.IdCategoria" class="p-3 mb-5 rounded shadow-sm">
                                <td class="text-left">@item.IdCategoria</td>
                                <td class="text-center">
                                    <img class="w-50" src="@item.RutaImagen" />
                                </td>
                                <td class="category-desc text-left">@item.Descripcion</td>
                                <td class="category-activo text-center">
                                    @if (item.Activo)
                                    {
                                        <i class="fa-solid fa-circle color-green"></i>
                                    }
                                    else
                                    {
                                        <i class="fa-solid fa-circle color-red"></i>
                                    }
                                </td>
                                <td class="user-fecharegistro text-left">@item.FechaRegistroF</td>
                                <td>
                                    <div class="d-flex justify-content-center">
                                        <button class="btn btn-secondary ml-3" asp-route-id="@item.IdCategoria" data-toggle="modal" data-target="#modal_edit_categoria" onclick="Edit_Categoria(@item.IdCategoria)">
                                            <i class="fa-solid fa-user-pen"></i>
                                        </button>
                                        <a class="btn btn-danger delete-user ml-3" data-url="@Url.Action("Delete", new { id = item.IdCategoria })">
                                            <i class="fa-regular fa-trash-can"></i>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<div id="ContenedorModalEditCategoria"></div>
<div id="ContenedorModalCreateCategoria"></div>
@section Scripts {
    <script src="/js/categoria.js"></script>
}